body {
    margin:0 auto;
    padding:0;
    background:#c4e3f3;
    font-family: "Arial";
    font-size:12pt;
    color:#666;
    margin-left: 120px;
    margin-right: 120px;
    text-align: justify;
    text-align: left;
}


h1 {
    color:blue;
    font-size:22pt;
    margin:0 0 20px 0;

}

h2 {
    color:#000000;
    font-size:14pt;
    margin:0 0 20px 0;

}




#BoxForm {
    margin:40px;
    padding:40px 0 30px 20px;
    width:660px;
    height:800px;
    background:#ffffff;
    border:1px solid #dcdcdc;
    border-radius:10px;
}

#form ul li {
    margin:35px 0;
    list-style:none;
    position:relative;
    clear:both;
}

#form label {
    margin:5px 0;
    line-height:45px;
    width:80px;
    text-align:left;
    float:left;
    color:#339bb9;
}

#form input#name, #form input#email, #form input#subject, #form textarea {
    float:left;
    padding:15px;
    border:1px solid #CCCCCC;
    background:#fcfcfc;
    border-radius:5px;
    color:#BA5301;
}
#form input#name, #form input#email, #form input#subject {
    width:350px;
}


#form input {
    color:#999;
    float:left;
}

#form input#send_message {
    width:100px;
    height:40px;
    margin:20px 0 0 80px;
    cursor:pointer;
    font-size:13px;
    color:#f6f6f6;
    background:#999;
    border:1px solid #ccc;
    border-radius:5px;
}

#form input#send_message:hover {
    color:#999;
    background:#dcdcdc;
    border-color:#999;
}