


.principal{
    background: white;
    font-family: "Arial", "Helvetica", sans-serif;
    font-size: 12pt;
    margin: 60px;
    margin-left: 120px;
    margin-right: 120px;
    text-align: justify;
    text-align: left;


}
.Menu{
    background: white;
    font-family: "comic sans";
    font-size: 12pt;
    margin: 60px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: justify;
    text-align: left;

}

h1 {

    color: blue;
    text-shadow: 1px 1px 1px



}
h2{
    color: blue;

}
#convenci{
    text-align: center;

}





